<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			<p>&copy 2022 AIML group. Website layout adapted from <a href="http://www.allanlab.org/">The Allan Lab's</a> template. </p>
		</div>
		<div class="col-sm-4">
		  <br />
		</div>	  
		<div class="col-sm-4">
		  Contact us!<br />
		  Gebäude Carl-Wery-Str. 20, 81739 Munich (<a href="https://goo.gl/maps/jTFm5fYmasH3GEH36">Maps</a>)
		  		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
